@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>EMI Bibliothèque</h1>
    <p class="lead">Le mini site EMI Bibliothèque est une petite application qui gère les adherents de la bibliothèque et leurs prêts, selon deux principales règles de gestions.</p>
    <div style="text-align:center">
        <img src="images/image1.jpg" alt="imagedelabibliotheque">
        <img src="images/image2.jpg" alt="imagedelabibliotheque">
        <img src="images/image3.jpg" alt="imagedelabibliotheque">
    </div>
    <h2>Les règles de gestion</h2>
    <ul>
        <li>Chaque adherent a droit aux maximums d'emprunter 3 prêts à la fois.</li>
        <li>Chaque prêt ayant dépassé une durée de 15 jours, son emprunteur n'a plus droit à effectuer un prêt jusqu'à ce qu'il rend le livre emprunté.</li>
    </ul>
    <p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <a href="Livres"><h2>Gérer les livres</h2></a>
    </div>
    <div class="col-md-4">
        <a href="Adherents"><h2>Gérer les adherents</h2></a>
    </div>
    <div class="col-md-4">
        <a href="Prets"><h2>Gérer les prêts</h2></a>
    </div>
</div>